@import "/src/Variables.scss";
.MainGetStarted {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 170px;
    line-height: 82px;
    position: relative;
    h1 {
        font-size: 72px;
        font-weight: 700;
    }
    p {
        margin-top: 30px;
        font-size: 26px;
        line-height: 46px;
    }
    button {
        margin-top: 56px;
        border-radius: 16px;
        background-color: #FFCF01;
        padding: 16px 48px;
        box-shadow: 0px 9px 44px 0px rgba(255, 207, 1, 0.20);
        color: black;
        font-weight: 700;
        font-size: $ButtonSize;
    }
    button:hover {
        color: rgb(230, 230, 230);
    }
    #Circle {
        top: 60px;
        position: absolute;
        width: 388px;
        height: 131px;
        background: #5C9DFF;
        filter: blur(332px);
    }
    svg {
        margin-top: 120px;
    }
}