.GetStarted {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 170px;
    line-height: 82px;
    position: relative;
    #Circle {
        top: 60px;
    }
    h1 {
        font-size: 72px;
        font-weight: 700;
    }
    p {
        margin-top: 30px;
        font-size: 26px;
        line-height: 46px;
    }
    button {
        margin-top: 56px;
        border-radius: 16px;
        background-color: #ffcf01;
        padding: 16px 48px;
        box-shadow: 0px 9px 44px 0px rgba(255, 207, 1, 0.2);
        color: black;
        font-weight: 700;
        font-size: 20px;
    }
    button:hover {
        color: white;
    }
    img {
        margin-top: 120px;
        animation-name: bounce;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
    }
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
