header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        font-size: 20px;
        font-weight: 600;
        a:not(:first-child) {
            margin-left: 44px;
        }
    }
    button {
        font-weight: 500;
        font-size: 18px;
        padding: 11px 20px;
        background: #243241;
        border-radius: 12px;
    }
    button:hover {
        color: #5C9DFF;
    }
    a {
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
    }
    a:hover {
        background-size: 100% 2px;
    }
    img:hover{
        cursor: pointer;
    }
}